*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    font-family: 'Rubik Regular',Arial,san-serif;
}
:root{
    /* Colors Variables */
    --primary:#0a0b5b;
    --btn:#ffc636;
}
/* Resets & Utilities */
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
.lead{
    font-size: 1.1em;
}

p,a,li{
    color: #9898d8;
}
h1,h2,h3,h4{
    color: #dddbff;
    font-weight: normal;
}

/* Base Styling  */
body{
    background-color: var(--primary);
    overflow-x: hidden;
    font-family: 'Rubik Regular';
}
.btn{
    background: transparent;
    border:2px solid var(--btn);
    color: var(--btn);
    text-transform: uppercase;
    border-radius: 20px;
    padding: .5em 1em;
    display: inline-block;
    transition: .4s background-color;
    cursor: pointer;
    box-shadow: 1px 1px 2px solid rgba(0, 0, 0, 0.6);
}
.btn:hover{
    background-color: var(--btn);
    color: #333;
}
input, textarea{
    background-color: rgba(255, 255, 255, .05);
    padding: .8em 1em;
    border: 2px solid #9893d8;
    color: #f2f2f2;
    border-radius: 20px;
}
/* Customs Fonts */
@font-face {
    font-family: 'Rubik Regular';
    src: url(assets/fonts/Rubik-Regular.ttf);
}
.grid{
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
.navbar{
    margin-inline-start: 1rem;
}
.navbar h1{
    grid-column: 1/4;
    padding-block: .5rem;
    border-bottom: 2px solid var(--btn);
    }
.navbar ul{
    display: none;
}
.hero{
    margin-top: 2rem;
    padding: 0px 1.25em 1.25em 1.25em;
}
.hero .content{
    grid-column: 1/6;
}
.hero .content h1, .hero .content p{
    margin-block:.3em ;
}
.hero .image{
    grid-column: 6/9;
}
.hero .image img{
    width: 200%;
}
.hero .content a{
    margin: 1rem 0px;
}
#projects{
    background-image: url('assets/square_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 2rem 1.25rem;
    text-align: center;
}

#projects a {
    grid-column: 1/9;
    margin: 20px 0px;
    display: flex;
}
#projects a * {
    margin: 0px 10px;
    max-width: 40%;
    align-self: center;
}
#projects h4{
    color: #9893d8;
}
#skills{
    text-align: center;
    padding: 1em;
}
#skills ul{
    margin-top: 2rem;
    gap: 10px;
}
#skills li{
    grid-column: span 4;
    background: rgba(0,0,0,.2);
}
#skills .lead{
    font-size: 1.1rem;
    margin-block: 1rem;
    color: #9893d8;
}
/* Contact  */
#contact{
    background: rgba(0,0,0,.2);
    padding: 2em;
}
#contact h2, #contact p{
    text-align: center;
    margin-bottom: .5em;
}
#contact form{
    max-width: 400px;
    width: 90%;
    margin:2em auto;
    text-align: center;
}
#contact input,#contact textarea{
    margin: .5em;
    width:100% ;
}
#contact form .btn{
    margin-top: 1em;
}
.footer{
    padding: 1.5em 1em;
    background-color: #14153d;
    background-image: url('assets/footer_image.png');
    background-size: 40%;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}
.footer .copywrite{
    grid-column: 1/4;
}
.footer .social{
    grid-column: 6/8;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.footer .social a img{
    max-width: 80%;
}
.footer li{
    margin-inline: .3rem;
}
/* Media Queries */

/* iPad Mini */
@media screen and (min-width:620px) {
   .hero .content{
    grid-column: 1/5;
   } 
   .hero .image{
    grid-column:5/8 ;
   }
   .hero .image img{
    width: 100%;
   }
   #projects a{
    grid-column: span 4;
    display: block;
   }
   #projects a:last-child{
    grid-column: 3/7;
   }
   #projects a *{
    max-width: 55%;
    margin: .8em 20%; 
   }
   #projects h4{
    text-align: center;
   }
   #skills{
    padding: 2.5rem 2rem;
   }
}
/* iPad and Laptops */
@media screen and (min-width:960px){
    body{
        font-size: 18px;
    }
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0px auto;
    }
    .navbar{
        padding: 0px 1.25em;
    }
    .navbar h1{
        grid-column: 1/3;
    }
    .navbar ul{
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
    }
    .navbar ul li{
        margin-inline-end: 1.5rem;
    }
    .hero .content{
        align-self: center;
       } 
    .hero {
    padding-bottom:2em ;
    }
    #projects a:nth-child(1){
        grid-column: 2/4;
    }
    #projects a:nth-child(2){
        grid-column: 4/6;
        padding-top: 3rem;
    }
    #projects a:nth-child(3){
        grid-column: 6/8;
    }
    #projects a *{
        max-width: 80%;
        margin: 1em 10%;
    }
    #skills{
        padding: 2em 1.5em;
    }
    #skills ul{
        margin: 2.5em auto;
    }
    #skills li {
        grid-column: span 2;
    }
    .footer {
        width: 100%;
        padding: 1em 2.5em; 
        background-size: 20%;
    }
}

/* Deskstop And Big Devices */
@media screen and (min-width:1200px) {
    body{
        font-size: 20px;
    }
    .hero , #projects , #skills , #contact{
        padding-inline:1.5rem ;
    }
    #projects a:nth-child(1){
        grid-column: 1/3;
    }
    #projects a:nth-child(3){
        grid-column: 7/9;
    }
    #projects a *{
        max-width: 100%;
    }
    .footer {
        background-size: 15%;
        padding-inline: 22rem;
    }

}